@import url(lib/bootstrap.css);
/* line 7, ../sass/main.scss */
.text-box {
  margin: 20px auto;
}

/* line 11, ../sass/main.scss */
.logo-center {
  margin: 40px auto;
}

/* line 15, ../sass/main.scss */
.position-right {
  float: right;
}

/* line 19, ../sass/main.scss */
.btn-space-left {
  margin-left: 5px;
}
