
// @import "reset";
@import "compass/css3";
@import "lib/bootstrap.css";


.text-box{
   margin: 20px auto;
}

.logo-center{
	margin: 40px auto;
}

.position-right{
	float: right;
}

.btn-space-left {
	margin-left: 5px;
}
